body {
    background-image: url("../images/music.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .center_div {
    margin: 0;
    position: absolute;
    top: 50%;
    /* -ms-transform: translateY(-50%); */
    transform: translateY(40%);
  }
  label{
      color: white;
  }
  h2{
      color: white !important;
  }

  .container {
    height: 100vh;
    position: relative;
  }
  form{
      align-items: center;
      text-align: center;
  }