body {
    background-image: url("../images/list.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
  }
  .center_div {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-10%);
    transform: translateY(-5%);
  }     
  h2{
      color: white !important;
  }